apiVersion: apps/v1
kind: Deployment # Kubernetes resource kind we are creating
metadata:
  name: node-js-k8s
spec:
  selector:
    matchLabels:
      app: node-js-k8s
  replicas: 1 # Number of replicas that will be created for this deployment
  template:
    metadata:
      labels:
        app: node-js-k8s
    spec:
      containers:
        - name: node-js-k8s
          image: rtarte/test-node-js-app:latest
          # Image that will be used to containers in the cluster
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
# The port that the container is running on in the cluster